{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>{{ name|default('') }}</h2>
    <table>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
        </tr>
        <tr>
            <td>111</td>
            <td>222</td>
            <td>333</td>
            <td>444</td>
        </tr>
    </table>
{% endblock %}